{% extends "root.html" %}

{% block content %}
<!-- 
FORMS INICIAL
<form method="POST">{% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Save' />
</form> -->


<!-- FORMS NO HTML
<form action='.' method='POST'> {% csrf_token %}
    <input type='text' name='title' id="title" />
    <input type="text" name="description" id="description">
    <input type="text" name="price" id="price">
    <input type='submit' value='Save' />
</form> -->

<!-- FORMS NO DJANGO -->
 <h1>AQUI</h1>
<form action="." method="post">{% csrf_token %}
    {{ form }}
    <input type="submit" value="Save" />
</form>
{% endblock %}